# coding: utf-8

"""
    EdgeGallery MEC Service Management API

    The ETSI MEC ISG MEC011 MEC Service Management API described using OpenAPI  # noqa: E501

    OpenAPI spec version: 2.1.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from edgegallery_sdk_mep.api_client import ApiClient


class TokenApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def mepauth_mepauth_v1_token_post(self, content_type, authorization, x_sdk_date, **kwargs):  # noqa: E501
        """mepauth_mepauth_v1_token_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mepauth_mepauth_v1_token_post(content_type, authorization, x_sdk_date, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_type: Represents a subscription to the notifications from the MEC platform. (required)
        :param str authorization: Represents a subscription to the notifications from the MEC platform. (required)
        :param str x_sdk_date: Represents a subscription to the notifications from the MEC platform. (required)
        :param str host: Represents a subscription to the notifications from the MEC platform.
        :return: TokenInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.mepauth_mepauth_v1_token_post_with_http_info(content_type, authorization, x_sdk_date, **kwargs)  # noqa: E501
        else:
            (data) = self.mepauth_mepauth_v1_token_post_with_http_info(content_type, authorization, x_sdk_date, **kwargs)  # noqa: E501
            return data

    def mepauth_mepauth_v1_token_post_with_http_info(self, content_type, authorization, x_sdk_date, **kwargs):  # noqa: E501
        """mepauth_mepauth_v1_token_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mepauth_mepauth_v1_token_post_with_http_info(content_type, authorization, x_sdk_date, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_type: Represents a subscription to the notifications from the MEC platform. (required)
        :param str authorization: Represents a subscription to the notifications from the MEC platform. (required)
        :param str x_sdk_date: Represents a subscription to the notifications from the MEC platform. (required)
        :param str host: Represents a subscription to the notifications from the MEC platform.
        :return: TokenInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_type', 'authorization', 'x_sdk_date', 'host']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mepauth_mepauth_v1_token_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_type' is set
        if ('content_type' not in params or
                params['content_type'] is None):
            raise ValueError("Missing the required parameter `content_type` when calling `mepauth_mepauth_v1_token_post`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `mepauth_mepauth_v1_token_post`")  # noqa: E501
        # verify the required parameter 'x_sdk_date' is set
        if ('x_sdk_date' not in params or
                params['x_sdk_date'] is None):
            raise ValueError("Missing the required parameter `x_sdk_date` when calling `mepauth_mepauth_v1_token_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']  # noqa: E501
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'x_sdk_date' in params:
            header_params['x-sdk-date'] = params['x_sdk_date']  # noqa: E501
        if 'host' in params:
            header_params['Host'] = params['host']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/plain; charset=utf-8'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/mepauth/mepauth/v1/token', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TokenInfo',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
